@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/* Formattazione generale & layout */
body {
  margin-bottom: 60px;
}

.border-button {
    border-radius: 10px;
}

.red-text {
    color: #b00004;
}

.dhl-bg {
    background: rgb(251,209,33);
    background: linear-gradient(90deg, rgba(251,209,33,1) 0%, rgba(255,217,59,1) 55%, rgba(252,229,130,1) 100%);
}

.logo-img {
    width: 10em;
}

.icon-fa{
    font-size: 1.5em;
}

/* Aggiungi cliente */

.card-form {
  width: 300px;
  height: 440px;
  background-image: linear-gradient(144deg,#8608b4, #492fed 60%,#bd6fda);
  border: none;
  border-radius: 10px;
  padding-top: 10px;
  position: relative;
  margin: auto;
  font-family: inherit;
}

.card-form span {
  font-weight: 600;
  color: white;
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 1.3em;
}

.card-form .job {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  padding-top: 5px;
  font-size: 1em;
}

.card-form .img {
  width: 70px;
  height: 70px;
  background: #e8e8e8;
  border-radius: 100%;
  margin: auto;
  margin-top: 40px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card-form .img i{
  font-size: 2em;
}

.card-form a {
  padding: 8px;
  margin: 3em;
  margin-top: 50px;
  display: block;
  border-radius: 8px;
  border: none;
  margin-top: 50px;
  background: #e8e8e8;
  color: #111111;
  font-weight: 600;
}

.card-form a:hover {
  background: #212121;
  color: #ffffff;
}

/* FormPrivato & FormAzienda */

.form-FPA {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.title-FPA {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: #fbd224;
}

.title-FPA::before {
  width: 18px;
  height: 18px;
}

.title-FPA::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title-FPA::before,
.title-FPA::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #fbd224;
}

.message-FPA,
.signin-FPA {
    font-size: 14.5px;
    color: rgba(255, 255, 255, 0.7);
}

.signin-FPA {
    text-align: center;
}

.signin-FPA a:hover {
  text-decoration: underline royalblue;
}

.signin-FPA a {
  color: #fbd224;
}

.flex-FPA {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form-FPA .label-FPA {
    position: relative;
}

.form-FPA .label-FPA .input-FPA {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form-FPA .label-FPA .input-FPA + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form-FPA .label-FPA .input-FPA:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form-FPA .label-FPA .input-FPA:focus + span,
.form-FPA .label-FPA .input-FPA:valid + span {
  color: #fbd224;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input-FPA {
    font-size: medium;
}

.submit-FPA {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    background-color: #fbd224;
}

.submit-FPA:hover {
  background-color: #fbd22496;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

/* Login (Account) */

.card-login {
  width: 240px;
  height: 304px;
  padding: 0 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  background: #fff;
  border: solid 1px black;
  border-radius: 20px;
}

.card-login > * {
  margin: 0;
}

.card-login__title {
    font-size: 23px;
    font-weight: 900;
    color: #333;
}

.card-login__content {
    font-size: 13px;
    line-height: 18px;
    color: #333;
}

.card-login__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-login__form input {
  margin-top: 10px;
  outline: 0;
  background: rgb(255, 255, 255);
  box-shadow: transparent 0px 0px 0px 1px inset;
  padding: 0.6em;
  border-radius: 14px;
  border: 1px solid #333;
  color: black;
}

.card-login__form button {
  border: 0;
  background: #111;
  color: #fff;
  padding: 0.68em;
  border-radius: 14px;
  font-weight: bold;
}

.sign-up-login:hover {
  opacity: 0.8;
} 
