@{
}

<div class="text-center">
    <h1 class="display-4">Aggiungi un nuovo cliente</h1>
</div>

<div class="container">
    <div class="row g-2">
        <div class="col-12 col-md-6">
            <div class="card-form">
                <div class="card-border-top">
                </div>
                <div class="img">
                    <i class="fa-solid fa-user"></i>
                </div>
                <span> Persona</span>
                <p class="job"> Prosegui per aggiungere una nuova persona tra i clienti</p>
                <button>
                    Aggiungi una persona
                </button>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card-form">
                <div class="card-border-top">
                </div>
                <div class="img">
                    <i class="fa-solid fa-building"></i>
                </div>
                <span> Azienda</span>
                <p class="job"> Prosegui per aggiungere una nuova azienda cliente</p>
                <button>
                    Aggiungi un azienda
                </button>
            </div>
        </div>
    </div>
</div>