@{
}

<h1 class="text-center fw-bold red-text">Aggiungi una nuova azienda cliente</h1>

<div class="container">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <form class="form-FPA">
                <p class="title-FPA">Register </p>
                <p class="message-FPA">Signup now and get full access to our app. </p>
                <div class="flex-FPA">
                    <label>
                        <input class="input-FPA" type="text" placeholder="" required="">
                        <span>Firstname</span>
                    </label>

                    <label>
                        <input class="input-FPA" type="text" placeholder="" required="">
                        <span>Lastname</span>
                    </label>
                </div>

                <label>
                    <input class="input-FPA" type="email" placeholder="" required="">
                    <span>Email</span>
                </label>

                <label>
                    <input class="input-FPA" type="password" placeholder="" required="">
                    <span>Password</span>
                </label>
                <label>
                    <input class="input-FPA" type="password" placeholder="" required="">
                    <span>Confirm password</span>
                </label>
                <button class="submit-FPA">Submit</button>
            </form>
        </div>
    </div>
</div>