<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpedizioniWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SpedizioniWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 dhl-bg">
            <div class="container-fluid d-flex justify-content-around">
                <img class="logo-img" src="https://logosmarcas.net/wp-content/uploads/2020/08/DHL-Logo-1983-2002.png" alt="Logo Dhl" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between flex-grow-0">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AggiungiCliente">Nuovo Cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RegistraSpedizione">Registra spedizione</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ProssimeSpedizioni">Prossime spedizioni</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="d-flex flex-wrap justify-content-around align-items-center py-3 border-top footer text-muted dhl-bg">
        <div class="col-md-4 d-flex align-items-center">
            <img class="logo-img" src="https://logosmarcas.net/wp-content/uploads/2020/08/DHL-Logo-1983-2002.png" alt="Logo Dhl" />
           
        </div>

        <p> <span class="mb-3 mb-md-0 text-body-secondary">2024 © - all rights reserved</span></p>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><i class="fa-brands fa-twitter icon-fa"></i></li>
            <li class="ms-3"><i class="fa-brands fa-instagram icon-fa"></i></li>
            <li class="ms-3"><i class="fa-brands fa-facebook-f icon-fa"></i></li>
        </ul>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
