
@{
    ViewData["Title"] = "Home Page";
    List<SalaCinema> sale = (List<SalaCinema>)ViewData["listaSale"];
}

<div class="text-center">
    <h1 class="display-4">Cinema IMIN</h1>
    <a asp-action="FormBiglietto" class="btn btn-primary mb-2">Vai all'acquisto'</a>
</div>
<div class="row">
    @foreach (var sala in sale)
    {
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-center fw-bold">@sala.Name</h5>
                    <p class="card-text d-flex justify-content-between"><span>Biglietti rimanenti :</span> <span>@sala.GetAvailableTickets()</span></p>
                    <p class="card-text d-flex justify-content-between"><span>Biglietti venduti :</span> <span>@sala.biglietti.Count()</span></p>
                    <p class="card-text d-flex justify-content-between"><span>Biglietti ridotti venduti :</span> <span>@sala.GetDiscountedTickets()</span></p>
                </div>
            </div>
        </div>
    }
</div>